input[type="text"] {
    -webkit-appearance: none;
    outline: none;
}

input[type="password"] {
    -webkit-appearance: none;
    outline: none;
}
input[type="tel"] {
    -webkit-appearance: none;
    outline: none;
}
input[type="number"] {
    -webkit-appearance: none;
    outline: none;
}
input[type="email"] {
    -webkit-appearance: none;
    outline: none;
}
input[type="date"] {
    -webkit-appearance: none;
    outline: none;
}

.text-input {
    position: absolute;
    top: 20%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid grey;
    height: 60%;
    width: 100%;
    font-size: 125%;
}
::placeholder{
    color:#8080803b;
    top:10px;
    
}
.text-input:focus ~ .label, .text-input:valid ~ .label {
    color: green;
    top: 0%;
    font-size: 80%;
}

.label:active{
    color: green;
    top: 0%;
    font-size: 80%;
}




.highlight {
    display: none;
}

.bar {
    height: 2px;
    top: 79%;
    left: 50%;
    right: 50%;
    background-color: blue;
    position: absolute;
    transition: left 0.1s ease, right 0.1s ease;
}

.text-input:hover ~ .bar {
    left: 0%;
    right: 0%;
}

.test-class {
    left: 0%;
    right: 0%;
}

.text-input-filled {
}

.label {
    position: absolute;
    top: 80%;
    color: transparent;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    font-size: 130%;
    /* z-index: -1; */
}

.filled-label {
    color: green;
    top: 0%;
    font-size: 80%;
}
