input[type="text"] {
    -webkit-appearance: none;
    outline: none;
}

input[type="password"] {
    -webkit-appearance: none;
    outline: none;
}
input[type="tel"] {
    -webkit-appearance: none;
    outline: none;
}
input[type="number"] {
    -webkit-appearance: none;
    outline: none;
}
input[type="email"] {
    -webkit-appearance: none;
    outline: none;
}
input[type="date"] {
    -webkit-appearance: none;
    outline: none;
}

.text-input {
    position: absolute;
    top: 20%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.1px solid #a0a2a5;
    height: 60%;
    width: 100%;
    font-size: 125%;
    color: #0760f2e8;
}
::placeholder{
    color:#8080803b;
    top:10px;
    
}
.text-input:focus ~ .label, .text-input:valid ~ .label {
    color: #000800;
    top: 0%;
    font-size: 80%;
    visibility:visible;
}

.label:active{
    color: green;
    top: 0%;
    font-size: 80%;
    visibility:visible;
}




.highlight {
    display: none;
}

.bar {
    height: 2px;
    top: 79%;
    left: 50%;
    right: 50%;
    background-color: #0000ffb0;
    position: absolute;
    transition: left 0.2s ease, right 0.1s ease;
}

.text-input:hover ~ .bar {
    left: 0%;
    right: 0%;
}

.test-class {
    left: 0%;
    right: 0%;
}

.text-input-filled {
}

.label {
    position: absolute;
    top: 38%;
    color: #6f6b6be0;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease, visibility 0.2s ease;
    font-size: 130%;
    visibility: hidden;
}

.filled-label {
    color: #000900;
    top: 0%;
    font-size: 80%;
    visibility:visible;
}
