<div class="calendar">
    <div class="calendar-header">
        <span class="selected-year"></span><span class="year-button">&#x25BC;</span>
        <span class="selected-day-date-month"></span>
    </div>
    <!-- Current Page-->
    <div class="calendar-page">
        <div class="calendar-nav">
            <div class="calendar-nav-left">
                <span class="previous-month">&lt;</span>
            </div>
            <div class="calendar-nav-disp">
            </div>
            <div class="calendar-nav-right">
                <span class="next-month">&gt;</span>
            </div>
        </div>
        <div class="calendar-month"></div>
        <div class="calendar-footer">
            <span class="calendar-cancel-button">CANCEL</span>
            <span class="calendar-ok-button">OK</span>
        </div>
    </div>
</div>
<div class="year-browser">
</div>
