<div class="login-div">
    <div class="login-logo">
        <img class="login-image" src="images/gate-small.png"></img>
    </div>
    <div class="login-fields">
        <div class="field">
            <input type="text" class="text-input" name="login-user-name" required tabindex="1"></input>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="label">EmailID, example@example.com</label>
        </div>
        <div class="field">
            <input type="password" class="text-input" name="login-user-password" required tabindex="2"></input>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="label">Yor secret password</label>
        </div>
        <div class="login-action-panel">
            <span class="login-button button" tabindex="3">Login</span>
            <span class="cancel-button button" tabindex="4">Cancel</span>
            <span class="reg-link button" tabindex="5">Register</span>
        </div>
    </div>
</div>
