<div class="login-container">
  <div class="login-div">
      <div class="login-logo">
      <img class="login-image" src="images/gate-small.png"></img>
      </div>
      <div class="login-fields">
        <div class="field">
          <input type="email" class="text-input" name="login-user-name" required tabindex="1"></input>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="label">EmailID, example@example.com</label>
        </div>
        <div class="field">
          <input type="password" class="text-input"  name="login-user-password" required tabindex="2"></input>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="label">Yor secret password</label>
        </div>
        <div class="login-action-panel">
          <span class="login-button button" tabindex="3">Login</span><span class="cancel-button button" tabindex="4">Cancel</span>
         </div>
     </div>
  </div>
  <div class="login-seperator">
  <a href="www.google.com" tabindex="-1">Google login </a>
  </div>
  <div class="register-div">
    <div class="register-logo">
    <img class="register-image" src="images/register-small.png"></img>
    </div>

    <div class="register-fields">
        <div class="field">
          <input type="text" class="text-input"  name="first-name" required tabindex="5">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="label">First Name</label>
        </div>
        <div class="field">
          <input type="text" class="text-input"  name = "last-name" required tabindex="6">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="label">Last Name</label>
        </div>
        <div class="field">
          <input type="text" class="text-input"  name = "mobile-number" required tabindex="7">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="label">Mobile Number</label>
        </div>
        <div class="field">
          <input type="email" class="text-input"  name="email-id" required tabindex="8">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="label">Email ID</label>
        </div>
        <div class="register-action-panel">
          <span class="register-button button" tabindex="9">Regiser</span><span class="reset-button button" tabindex="10">Reset</span>
        </div>
    </div>
  </div>
</login-div>
