<div class="register-div">
    <div class="register-logo">
        <img class="register-image" src="images/register-small.png"></img>
    </div>
    <div class="register-fields">
        <div class="field">
            <input type="text" class="text-input" name="first-name" required tabindex="5">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="label">First Name</label>
        </div>
        <div class="field">
            <input type="text" class="text-input" name="last-name" required tabindex="6">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="label">Last Name</label>
        </div>
        <div class="field">
            <input type="text" class="text-input" name="mobile-number" required tabindex="7">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="label">Mobile Number</label>
        </div>
        <div class="field">
            <input type="text" class="text-input" name="email-id" required tabindex="8">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="label">Email ID</label>
        </div>
        <!-- Password -->
        <div class="field">
            <input type="password" class="text-input" name="password-one" required tabindex="9">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="label">Password</label>
        </div>
        <!--Retype password -->
        <div class="field">
            <input type="password" class="text-input" name="password-two" required tabindex="10">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="label">Retype Password</label>
        </div>
        <div class="register-action-panel">
            <span class="register-button button" tabindex="11">Regiser</span>
            <span class="reset-button button" tabindex="12">Reset</span>
        </div>
    </div>
</div>
